* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
  overflow: hidden;
  background-color: #222;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.025) 10%,
      transparent 0
    ),
    linear-gradient(#222, #000);
  background-size: 0.75em 100%, 100% 100%;
  background-attachment: fixed;
}

.container {
  display: grid;
  grid-template-rows: 10px 200px 50vh 150px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
